.imgResponsive {
    width: 100%;
    max-width: 500px;
    height: auto;
}

* {
    box-sizing: border-box;
}
p{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
    color: slategrey;
    line-height: 28px;
}


[class*="col-"] {
	float: left;
    padding: 0px;
    border: 0px solid;
    text-align: center;
}
.col-1 {width: 8.33%; text-align: left; }
.col-2 {width: 16.66%; }
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%; padding: 5%;}
.col-6 {width: 50%; text-align: center;  }
.col-7 {width: 58.33%;  padding: 5%;}
.col-8 {width: 66.66%; margin-left: 16.67%; padding: 20px;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%; text-align:right; background-color: rgb(7, 11, 19);}
.col-12 {width: 100%; background-color: rgb(226,237,254); }


@media screen and (max-width: 500px) {
    .col-7 {
        width:100%;
        } 
  }

  